.suggestionSection {
  margin-top: var(--space-56);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.h5Home {
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-semi-bold);
}
.cardSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.cityCard {
  margin: 2%;
  border-radius: 28px;
  background-color: transparent;
}

.cityCard .cityCardContent {
  padding: 2.5%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.cityCardContent img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.cityCardContent #country {
  color: var(--color-blue-tertiary);
  font-size: var(--font-size-xxs);
  font-weight: var(--font-weight-extra-light);
  margin: 2%;
}

.cityCardContent #cityName {
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-light);
  margin: 2%;
}

.suggestCard {
  border: none;
  background-color: transparent;
  width: 100%;
  margin: 2%;
  text-align: left;
  cursor: pointer;
}

.CTAButton {
  display: flex;
  justify-content: center;
}

.CTAButtonSeeAllCity {
  border: none;
  background-color: var(--color-blue-secondary);
  color: var(--color-ink-white);
  border-radius: 6px;
  margin: 6%;
  padding: 1%;
  cursor: pointer;
  grid-column: 3;
}
